{% extends 'base.html' %}

{% block content %}
<style>

   body {
     background-position: center;
     background-color: #eee;
     background-repeat: no-repeat;
     background-size: cover;
     color: #505050;
     font-family: "Rubik", Helvetica, Arial, sans-serif;
     font-size: 14px;
     font-weight: normal;
     line-height: 1.5;
     text-transform: none
 }

 .forgot {
     background-color: #fff;
     padding: 12px;
     border: 1px solid #dfdfdf
 }

 .padding-bottom-3x {
     padding-bottom: 72px !important
 }

 .card-footer {
     background-color: #fff
 }

 .btn {
     font-size: 13px
 }

 .form-control:focus {
     color: #495057;
     background-color: #fff;
     border-color: #76b7e9;
     outline: 0;
     box-shadow: 0 0 0 0px #28a745
 }

</style>
<div class="container padding-bottom-3x mb-2 mt-5">
	    <div class="row justify-content-center ">
	        <div class="col-lg-8 col-md-10">
	            <div class="forgot bg-dark">
	                <h2>Forgot your password?</h2>
	                <p>Change your password in three easy steps. This will help you to secure your password!</p>
	                <ol class="list-unstyled">
	                    <li><span class="text-primary text-medium">1. </span>Enter your email address below.</li>
	                    <li><span class="text-primary text-medium">2. </span>Our system will send you a temporary link</li>
	                    <li><span class="text-primary text-medium">3. </span>Use the link to reset your password</li>
	                </ol>
	            </div>
	            <form method="post" class="card mt-4 bg-dark border border-white"> {% csrf_token %}
	                <div class="card-body">
	                    <div class="form-group"> <label for="email-for-pass">Enter your email address</label>                             
                      <input name="email" class="form-control" placeholder="example@gmail.com" type="email" id="id_email" required="true"></div>
	                </div>
	                <div class="card-footer bg-dark">   
                    <button class="btn btn-success" type="submit">Get New Password</button> 
                    <a href="{% url 'login' %}" class="btn btn-danger">Log in</a>
                  </div>
	            </form>
	        </div>
	    </div>
	</div>


{% endblock %}