{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}


<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
<title>Bootstrap Simple Registration Form</title>


    <style>
        form {
            color: #fff;
            background: #63738a;
            font-family: 'Roboto', sans-serif;
        }
        .form-control {
            height: 40px;
            box-shadow: none;
            color: #969fa4;
        }
        .form-control:focus {
            border-color: #5cb85c;
        }
        .form-control, .btn {        
            border-radius: 3px;
        }
        .signup-form {
            width: 450px;
            margin: 0 auto;
            padding: 30px 0;
            font-size: 15px;
        }
        .signup-form h2 {
            color: #636363;
            margin: 0 0 15px;
            position: relative;
            text-align: center;
        }
        .signup-form h2:before, .signup-form h2:after {
            content: "";
            height: 2px;
            width: 30%;
            background: #d4d4d4;
            position: absolute;
            top: 50%;
            z-index: 2;
        }	
        .signup-form h2:before {
            left: 0;
        }
        .signup-form h2:after {
            right: 0;
        }
        .signup-form .hint-text {
            color: #999;
            margin-bottom: 30px;
            text-align: center;
        }
        .signup-form form {
            color: #999;
            border-radius: 3px;
            margin-bottom: 15px;
            background: #f2f3f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }
        .signup-form .form-group {
            margin-bottom: 20px;
        }
        .signup-form input[type="checkbox"] {
            margin-top: 3px;
        }
        .signup-form .btn {        
            font-size: 16px;
            font-weight: bold;		
            min-width: 140px;
            outline: none !important;
        }
        .signup-form .row div:first-child {
            padding-right: 10px;
        }
        .signup-form .row div:last-child {
            padding-left: 10px;
        }    	
        .signup-form a {
            color: #fff;
            text-decoration: underline;
        }
        .signup-form a:hover {
            text-decoration: none;
        }
        .signup-form form a {
            color: #5cb85c;
            text-decoration: none;
        }	
        .signup-form form a:hover {
            text-decoration: underline;
        }  
    </style>
</head>


<div class="signup-form">
    <form method="post" style="text-white; background-color: #2c3e50; border-radius:5px;"> {% csrf_token %}
		<h2 style="color: white;">Log in</h2>
        <div class="form-group">
        	<input name="email" type="email" class="form-control" name="email" placeholder="Email" required="required">
        </div>
        
		<div class="form-group">
            <input name="password" type="password" class="form-control" name="password" placeholder="Password" required="required">
        </div>
            {% if login_form.non_field_errors %}
                <div style="color: red; margin-bottom: 15px; font-size: 16px">
                    {{ login_form.non_field_errors | striptags }}
                </div>
            {% endif %}
		<div class="form-group">
            <button type="submit" class="btn btn-danger btn-lg btn-block">Login</button>
        </div>
    </form>
	<div class="text-center text-white">You don't have an account ?  <a href="{% url 'register' %}"> Register</a></div>
	<div class="text-center text-white">Forget your password ? <a href="{% url 'password_reset' %}">Reset Password</a></div>
</div>

{% endblock %}